.category{
    margin-left: 1100px;
}

hr{
    margin-top: 10px;
    width: 1400px;
}


#now{
    margin-right: 10px;
    color: white;
}

#future{
    color: white;
}

#future:hover{
    font-weight: bold;
}

#now:hover{
    font-weight: bold;
}

.movies{
    width: 1400px   ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
hr{
    border-color: #000000;
}

.movie-card{
    display: flex;
    height: 300px;
    width: 700px;
    border: 1px solid #222020;
    border-radius: 10px;
    box-shadow: 0px 1px 7px 2px #202021;
    border-bottom: 1px solid #0d0e0f
}

.movie-img-main{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 200px;
    height: 280px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 1px 7px 2px #25262c;
    border-bottom: 1px solid #1a1d1f
}




.movie-text{
    margin-left: 20px;
    margin-top: 20px;
    color :rgb(255, 255, 255) !important;
    
}

.movie-name-main{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}

.movie-grade{
    margin-bottom: 20px;
    color :rgb(255, 255, 255) !important;
}

.audience-value{
    margin-bottom: 30px;
    color :rgb(255, 255, 255) !important;
}


.movie-contents{
    width: 400px;
    height: 110px;
    margin-right: 70%;
    color :rgb(255, 255, 255) !important;
    overflow: hidden;
    text-overflow:clip;
}
