@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


@font-face {
    font-family: 'baemin_font';
    font-style: normal;
    src: url('../../font/BMJUA_ttf.ttf') format('truetype');
}


* {
    font-family: 'baemin_font';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    background-color: rgb(46, 40, 40);
}



.logo {
    width: 100px;
    object-fit: contain;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 800;
    display: inline-block;
    padding: 0 0 5px;
}

.movie-info {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.movie-info img {
    width: 150px;
    border-radius: 5px;
    margin-right: 20px;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}

p {
    margin: 10px 0;
}

ul {
    list-style-type: disc;
    padding-left: 1.2em;
}

.name-input,
textarea {
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 15px;
    font-family: inherit;
    margin-bottom: 15px;
    outline: none;
    transition: 0.3s ease-in-out;
}

.name-input:focus,
textarea:focus {
    border-color: #4169E1;
    box-shadow: rgba(0, 123, 255, 0.2) 0px 1px 1px 1px;
}

textarea {
    min-height: 10px;
    resize: vertical;
}

button {
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(117, 28, 201);
}



.review-section {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
}

.review-section h2 {
    font-size: 20px;
}

.comment-input {
    display: flex;
    flex-direction: column;
}

.review-section {
    width: 100%;
}

h2,
h3 {
    margin: 5px 0;
}

.review-list {
    
    list-style-type: none;
    padding: 0;
}

.review-item {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
}

.name {
    font-weight: bold;
}

.rating input[type='checkbox'] {
    display: none;
}


.review-item .name {
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}

.content{
    color: white;
}

.review-item .ratingStars{
    color: white;
}

#scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    background-color: blueviolet;
    border: none;
    border-radius: 50%;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    z-index: 5;
}

#scroll-to-top-button:hover {
    opacity: 0.8;
}

.button-row {
    display: flex;
    justify-content: space-between;
}

.brand-button {
    background-color:blueviolet;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.brand-button:hover {
    background-color: rgb(116, 32, 196);
}

.reserv {
    
    text-align: center;
}

.reserv p {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}


.rating {
    
    display: inline-block;
}

input[type="checkbox"] {
    display: none;
}

label {
    cursor: pointer;
    font-size: 24px;
    color: #ccc;
    margin-right: 5px;
}

label:before {
    content: '☆';
}

input[type="checkbox"]:checked+label:before {
    content: '★';
    color: blueviolet;
}

label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
}

.rating input[type='checkbox']:checked~label.star:before {
    content: '\2605';
    color: #FD4;
    transition: all .25s;
}

body::-webkit-scrollbar {
    width: 8px;  
}

body::-webkit-scrollbar-thumb {
    height: 30%; 
    background: #000000; 
    
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1); 
}


.people_card {
    display: inline-block;
    width: 200px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #dbcfcf;
    background-color: rgb(46, 40, 40);
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1%;
    margin-left: 3%;
}

.movie-info-content{
    width: 100% ;
}

.thumb img {
    width: 100%;
    border-radius: 50%;
}

.title_box {
    text-align: center;
    margin-top: 10px;
}

.people_name {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sub_name {
    color: white;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 4px;
}

.info_name{
    display: block;
}

.white_text{
    color: white;
}