h2 {
    margin-left: 16px;
}

li{
    margin: 5% 0;
}


.movie{
    margin-left: 10%;
    display: flex;
    width: 80%;
    align-items: center;
    border: 1px solid #0f0e0e;
    border-radius: 10px;
    box-shadow: 0px 1px 7px 2px #161718;
    border-bottom: 1px solid #212427
}

.movie-img {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 45px;
    height: 60px;
    margin-left: 16px;
    margin-right: 16px;
    box-shadow: 0px 1px 7px 2px #25262c;
    border-bottom: 1px solid #1a1d1f
    
  }

  .movie-name {
    margin-bottom: 15px;
    font-weight: bold;
  }

  .topic{
    margin-left: 13%;
    color: white;
  }
